[submodule "arduino"]
	path = arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/Bus_IO_Library"]
	path = components/Bus_IO_Library
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "components/PMSA003I_Arduino_Library"]
	path = components/PMSA003I_Arduino_Library
	url = https://github.com/adafruit/Adafruit_PM25AQI.git